.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    border: 1px solid #ccc; /* Añade un borde a las tarjetas */
    transition: transform 0.3s; /* Transición para agrandar la carta */
    cursor: pointer;
    }
    
    .card:hover {
        transform: scale(1.1); /* Aumenta el tamaño de la carta al pasar el cursor */
    }
    

.card img {
    width: 100%; /* Haz que las imágenes ocupen el 100% del ancho de la tarjeta */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

.card-body {
    text-align: center; /* Centra el contenido de la tarjeta */
}

/* Estilo personalizado para los enlaces dentro de las tarjetas */
.card a {
    color: #000 !important;
    text-decoration: none !important;
}

<style>
    .nav {
        margin-bottom: 20px; /* Añade margen inferior a la lista de navegación */
    }
</style>


@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 10px); /* Dos tarjetas por fila en pantallas más pequeñas */
    }
}
