/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de la barra de navegación */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilos del encabezado principal */
.hero {
    text-align: center;
    background-color: #007acc;
    color: #fff;
    padding: 70px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero span {
    color: #ff9900;
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #ff6600;
}

/* Estilos de las secciones */
.destacados {
    background-color: #fff;
    padding: 10px 0;
}

.instrucciones {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
}

.instrucciones {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.instrucciones h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.instrucciones ol {
    list-style: decimal;
    margin-left: 20px;
}

.contacto {
    background-color: #007acc;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-secondary:hover {
    background-color: #555;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Media query para estilos responsivos */
@media (max-width: 768px) {
    header {
        padding: 20px 0;
    }

    nav ul li {
        margin-right: 10px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 16px;
    }

    .btn-primary,
    .btn-secondary {
        padding: 8px 16px;
    }
}
  
  .buttons {
    min-width: 700px;
    display: flex;
    justify-content: space-around;
  }
  
  .buttons a {
    text-decoration: none;
    font-size: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
  }
  
  .buttons a:hover {
    transform: scale(1.2);
  }